:root {
  --primary-white: #ffffff;
  --primary-dark: rgba(52,58,64);
  --primary-azure: #037ffc;
  --primary-azure: rgb(1, 118, 185);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Sign in form*/
.span1 {
  background-color: rgba(54,58,64);
}

.box {
  border: solid rgb(9, 47, 128);
  border-radius: 12px;
  width: 350px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 30px;
}


.username1, .password1 {
  border: 0;
  background: #ffffff;
  display: block;
  margin: 20px auto;
  text-align: center;
  border:3px solid rgb(1, 118, 185);
  padding: 14px 10px;
  width: 200px;
  outline: none;
  border-radius: 24px;
  transition: 0.25s;
  color: #000000;
  font-weight: bold;
}

.username1:focus, .password1:focus {
  width: 280px;
  border-color: #2ecc71;
}
.submit1 {
  border: 0;
  background: rgb(20, 88, 128);
  display: block;
  margin: 20px auto;
  text-align: center;
  border:3px solid rgb(9, 47, 128);
  padding: 14px 10px;
  outline: none;
  color:#ffffff;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.box input[type = "submit"]:hover{
  background: #2ecc71;
}

.label1, .label2 {
  color:black;
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
}

html,body {
  height: 100%;
}

.form {
  text-align: center;
}

.welcome {

  text-align: center;
}

.brand{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

/***CSS for the Registration form***/
.formRegistration{
  display:flex;
  justify-content: center;
  margin: 5rem;
}

/*CSS for the Social Media Icon on the Footer*/
.social-menu ul {
  position: absolute;
  nav-down: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
  display: flex;
}

.social-menu ul li {
    list-style: none;
    margin: 0 10px;
}

.social-menu ul li .fa {
  color: #000000;
  font-size: 25px;
  line-height: 50px;
  transition: .5s;
}

.social-menu ul li .fa:hover {
  color: #ffffff;
}

.social-menu ul li a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  transition: 0.5s;
  transform: translate(0,0px);
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}

.social-menu ul li a:hover {
  transform: rotate(0deg) skew(0deg) translate(0, -10px);
}

.social-menu ul li:nth-child(1) a:hover {
  background-color: #3b5999;
}

.social-menu ul li:nth-child(2) a:hover {
  background-color: #55acee;
}
.social-menu ul li:nth-child(3) a:hover {
  background-color: #e4405f;
}
.social-menu ul li:nth-child(4) a:hover {
  background-color: #cd201f;
}
.social-menu ul li:nth-child(5) a:hover {
  background-color: #0077B5;
}

