/**Primary colors used for project**/

:root {
  --primary-white: #ffffff;
  --primary-dark: rgba(52,58,64);
  --primary-azure: rgb(1, 118, 185);
}

/* Sign in form*/
.span1 {
  background-color: rgba(54,58,64);
}

.box {
  border: solid rgb(9, 47, 128);
  border-radius: 12px;
  width: 350px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 30px;
}


.username1, .password1 {
  border: 0;
  background: #ffffff;
  display: block;
  margin: 20px auto;
  text-align: center;
  border:3px solid rgb(1, 118, 185);
  padding: 14px 10px;
  width: 200px;
  outline: none;
  border-radius: 24px;
  transition: 0.25s;
  color: #000000;
  font-weight: bold;
}

.username1:focus, .password1:focus {
  width: 280px;
  border-color: #2ecc71;
}
.submit1 {
  border: 0;
  background: rgb(20, 88, 128);
  display: block;
  margin: 20px auto;
  text-align: center;
  border:3px solid rgb(9, 47, 128);
  padding: 14px 10px;
  outline: none;
  color:#ffffff;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.box input[type = "submit"]:hover{
  background: #2ecc71;
}

.label1, .label2 {
  color:black;
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
}

.form {
  text-align: center;
}

/**Header Elements**/
.welcome {

  text-align: center;
}

.brand{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

/**Navbar styling**/

.nav {
  display:flex;
  justify-content:center;
  align-items: center;
  font-size:large;
  font-weight: 500 ;
}

/***CSS for the Registration form***/

.formRegistration{
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 5rem;
  padding: 5px 5px 5px 15px;
  margin-bottom: 10px;
  background: #ffffff;
}

.formContainer1 {
  max-width: 700px;
  width: 100%;
  background: #ffffff;
  padding: 25px 30px;
  border-radius: 5px;
}

.formContainer1 .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.formContainer1 .title::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
}

#submitButton{
  display: block;
  text-align: center;
  color: rgb(37, 122, 74);
  text-shadow: 0px 1px 1px #ffffff;
  border-bottom: 2pm solid #b2b2b2;
  background-color: #b9e4e3;
  background:
  -webkit-gradient(linear, left top, left bottom from(#beeae9), to(#a8cfce));
  background:
  -moz-linear-gradient(top, #beeae9, #a8cfce);
  background:
  -o-linear-gradient(top, #beeae9, #a8cfce);
  background:
  -ms-linear-gradient(top, #beeae9, #a8cfce);
}

#submitButton:hover {
  color: #333333;
  border: 2px solid #a4a4a4;
  border-top: 2px solid #b2b2b2;
  background-color: #a0dbc4;
  background: 
  -webkit-gradient(linear, left top, left bottom, from(#a8cfce), to(#beeae9));
  background:
  -moz-linear-gradient(top, #a8cfce, #beeae9);
  background:
  -o-linear-gradient(top, #a8cfce, #beeae9);
  background:
  -ms-linear-gradient(top, #a8cfce, #beeae9);
}
 
label {
  font-size: 14px;
  font-weight: bold;
  color:black;
}

.div1, .div2, .div3, .div4, .div5 {
  padding: 10px;
}


/**CSS for Post form**/
body {
  display: flex;
  align-items: center;
  justify-content: center; 
}

.post {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  border: 1px solid lightgray;
  font-family: Arial, Helvetica, sans-serif;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.post:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}
.post .title {
  flex: 20%;
  border-bottom: 1px solid lightgray;
  background-color: rgb(1, 118, 185);
  display: grid;
  place-content: center;
  color: white;
}

.post .body {
  flex: 60%;
  display: grid;
  place-content: center;
}

.post .footer {
  flex: 20%;
  border-top: 1px solid lightgray;
  display: flex;
  align-items: center;
  padding-left: 15px;
  background-color: var(--primary-azure);
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.footer .username {
  flex: 50%;
}
.footer .buttons {
  flex: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.likeBttn {
  color: rgba(250, 250, 250, 0.8);
}
.unlikeBttn {
  color: white;
}

.buttons label {
  margin-right: 20px;
  margin-left: 10px;
}

/* CREATE POST PAGE CSS */

.createPostPage {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: auto;
  padding: 20px;
  border: 5px solid var(--primary-azure);
  border-radius: 5px;
}

.formContainer #inputCreatePost {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid grey;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 20px;
}

.formContainer button {
  margin-top: 15px;
  height: 40px;
  border: none;
  background-color: var(--primary-azure);
  border-radius: 5px;
  color: white;
}

.formContainer button:hover {
  cursor: pointer;
  background-color: var(--primary-azure);
}

span {
  color: red;
}

.rightSide .addCommentContainer {
  flex: 20%;
  width: 100%;
  display: grid;
  place-items: center;
  margin-top: 25px;
}

.addCommentContainer input,
button {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: none;
}

.addCommentContainer button {
  background-color: var(--primary-azure);
  color: white;
}

.addCommentContainer input {
  border: 2px solid var(--primary-azure);
}

.rightSide .listOfComments {
  flex: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listOfComments .comment {
  width: 70%;
  height: auto;
  padding: 30px;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-top: 20px;
}

#individual {
  height: 500px;
  width: 600px;
}

#individual .title,
#individual .footer {
  font-size: 30px;
}

#individual .body {
  font-size: 25px;
}