/*Main*/
:root {
  --primary-white: #ffffff;
  --primary-dark: rgba(52,58,64);
  --primary-azure: #037ffc;
}

.form {
  text-align: center;
}

.welcome {

  text-align: center;
}

.brand{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

/***CSS for the Registration form***/



.formRegistration{
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 5rem;
  border: 2px solid #bdbdbd;
  border-radius: 5px;
  padding: 5px 5px 5px 30px;
  background: linear-gradient(135deg, rgba(52,58,64), #037ffc);
  margin-bottom: 10px;
}

.formContainer{
  max-width: 700px;
  width: 100%;
  background: #ffffff;
  padding: 25px 30px;
  border-radius: 5px;
}

.formContainer .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.formContainer .title::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
}

.submitButton{
  text-align:center;
  color: rgb(37, 122, 74);
  text-shadow: 0px 1px 1px #ffffff;
  border-bottom: 2pm solid #b2b2b2;
  background-color: #b9e4e3;
  background:
  -webkit-gradient(linear, left top, left bottom from(#beeae9), to(#a8cfce));
  background:
  -moz-linear-gradient(top, #beeae9, #a8cfce);
  background:
  -o-linear-gradient(top, #beeae9, #a8cfce);
  background:
  -ms-linear-gradient(top, #beeae9, #a8cfce);
}

.submitButton:hover {
  color: #333333;
  border: 1px solid #a4a4a4;
  border-top: 2px solid #b2b2b2;
  background-color: #a0dbc4;
  background: 
  -webkit-gradient(linear, left top, left bottom, from(#a8cfce), to(#beeae9));
  background:
  -moz-linear-gradient(top, #a8cfce, #beeae9);
  background:
  -o-linear-gradient(top, #a8cfce, #beeae9);
  background:
  -ms-linear-gradient(top, #a8cfce, #beeae9);
}
 
label {
  font-size: 14px;
  font-weight: bold;
}

.div1, .div2, .div3, .div4, .div5 {
  padding: 10px;
}


/***Login CSS***/
